@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #4287f5;
  --secondary: #eba134;

  --primary-light: #F7F6F2;
  --primary-dark: #222222;

  --text-primary: #4a5566;
  --text-light: #f0f6ff;
  --text-dark: black;
  --text-title: var(--primary);

  --navbar-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

@media screen and (max-width: 800px) {
  :root {
    --navbar-height: 60px;
  }
}