.mainContainer {
    background: #732142;
    text-align: center;
    padding: 20% 10%;

    h1 {
        color: white;
    }
}

.postsContainer {
    display: flex;
    flex-direction: column;
}

.link {
    color: white
}