.formBox{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(184, 221, 203);
}

.contactForm{
    border: black solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 530px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(179, 228, 234);
}

.input{
    border: 1px black solid;
    padding: 3px;
    width: 400px;
    border-radius: 10px;
}

.textarea {
    border: 1px black solid;
    height: 100px;
    width: 500px;
    padding: 3px;
    border-radius: 10px;
}

.submit{
    margin: 0px 0px 20px 400px;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    padding: 3px;
    color: white;
    border: 0px;
    background-color: rgb(118, 172, 174);
}