.title{
    display: flex;
    justify-content: center;
    align-items: center;

}

.blogs{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogPost{
    display: flex;
    border: 3px solid rgb(68, 77, 194);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 25px;
    height: 100px;
    width: 500px;
    font-size: 25px;
}

.fixedImage {
  position: relative;
  width: 100%;
  height: 191px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}